{{!-- <ul class="gallery__container"> --}}
{{#each this}}
<li class="card__wrapper">
        <img src="https://image.tmdb.org/t/p/original/{{poster_path}}" alt="{{title}}" class="card__img" />
        <h2 class="card__title">{{title}}</h2>
        <div class="card__content-wrapper">
          <p class="card__genre">{{genre_ids}}</p>
          &nbsp;|&nbsp;
          <p class="card__year">{{release_date}}</p>
        </div>
</li>
{{/each}}
{{!-- </ul> --}}